* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.content {

}

body {
  background-color: #bfdadb;
  align-items: center;
}

.main-page {
  max-width: 1200px;
  margin: auto;
}

h1, h2 {
  font-family: "Calibri Light", "Calibri", sans-serif;
  color: #333863;
}

h1 {
  font-size: 2.3em;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.6em;
}

p, li {
  color: #6c6e82;
  font-family: "Candara", "Calibri", sans-serif;
}

p {
  padding: 10px 5px;
}

ul {
  list-style-type: disc;
  padding: 10px 5px;
  margin-left: 15px;
}

li {
  margin-left: 5px;
}

.navbar-container {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: #333863;
}

.navbar {
  border: 1px solid #fff;
  display: flex;
  justify-content: space-around;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-family: "Calibri Light", "Calibri", sans-serif;
}

.navbar a:hover {
  color: #6c6e82;
}

.header-container {
  display: flex;
  justify-content: center;
  background-color: #bfdadb;
}

.header {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-container {
  display: flex;
  justify-content: center;
}

.page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.page-item {
  border: 1px solid #fff;
  width: 350px;
  height: 350px;
  padding: 6px;
}

.contact-container {
  display: block;
  justify-content: center;
}

.contact {
  border: 2px solid #FFFFFF;
  margin: 20px;
  padding: 15px;
  display: block;
}
